
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Starter Template for Bootstrap</title>

    {% block stylesheet %}
    <!-- Bootstrap core CSS -->
    <link href="{{  asset('/bundles/ucoconsigna/css/bootstrap.css') }}" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="{{  asset('/bundles/ucoconsigna/css/simple-sidebar.css') }}" rel="stylesheet">
    <link href="{{  asset('/bundles/ucoconsigna/css/font-awesome.min.css') }}" rel="stylesheet">
    {%  endblock %}

</head>

<body>

<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"><a href="#">Dropbox BK</a></li>
            {% block sidebar %}
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Shortcuts</a></li>
            <li><a href="#">Overview</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
            {% endblock %}
        </ul>
    </div>

    <!-- Page content -->
    <div id="page-content-wrapper">
        <div class="content-header">
            <h1>
                <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
                {%  block title %}Dropbox BK{% endblock %}
            </h1>
        </div>
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
            {% block body %}
            <div class="row">
                <div class="col-md-12">
                    <p class="lead">This simple sidebar template has a hint of JavaScript to make the template responsive. It also includes Font Awesome icon fonts.</p>
                </div>
                <div class="col-md-6">
                    <p class="well">The template still uses the default Bootstrap rows and columns.</p>
                </div>
                <div class="col-md-6">
                    <p class="well">But the full-width layout means that you wont be using containers.</p>
                </div>
                <div class="col-md-4">
                    <p class="well">Three Column Example</p>
                </div>
                <div class="col-md-4">
                    <p class="well">Three Column Example</p>
                </div>
                <div class="col-md-4">
                    <p class="well">You get the idea! Do whatever you want in the page content area!</p>
                </div>
            </div>
            {% endblock %}
        </div>
    </div>

</div>

{% block javascript %}
<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{{  asset('/bundles/ucoconsigna/js/bootstrap.js') }}"></script>
<!-- Put this into a custom JavaScript file to make things more organized -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
</script>
{% endblock %}
</body>
</html>