.hidden {
    visibility: hidden;
}

.job-actions {
    visibility: hidden;
}

tr:hover .job-actions {
    visibility: visible;
}

.form-horizontal .control-label {
    width: 169px;
}

.sidebar ul {
    padding: 0px;
    margin: 8px 0px;
    list-style-type: none;
}