{% extends "UcoConsignaBundle::layout.html.twig" %}

{% block title %}Acerca de...{% endblock %}

{% block body %}
    <div class="row">

        <div class="col-md-8">
            <p class="well">
                Consigna es una aplicación que permite guardar backups de un servidor directamente en Dropbox. Esta aplicación es
                una práctica para la asignatura de "Gestión de Sistemas de Archivos y Servicios Distribuidos" del Grado en
                Ingeniería Informática.
            </p>
        </div>
        <div class="col-md-8">
            <p>Práctica realizada por Sergio Gómez Bachiller.</p>
        </div>


    </div>
{% endblock %}