{%  extends "UcoConsignaBundle::layout.html.twig" %}

{% block body %}
<div class="jumbotron">
    <h1>Consigna Dropbox <i class="fa fa-dropbox"></i></h1>
    <p>
        Realice copias de seguridad de su servidor a su cuenta de Dropbox fácilmente.
    </p>
</div>
{% endblock %}