{%  extends "UcoConsignaBundle::layout.html.twig" %}

{% block title %}Consigna Dropbox <i class="fa fa-dropbox"></i>{% endblock %}
{% block subtitle %}Realice copias de seguridad de su servidor a su cuenta de Dropbox fácilmente.{% endblock %}


{% block body %}
<div class="jumbotron">
    <p>Conecte con su cuenta de <strong>Dropbox</strong> para poder acceder a todas las funciones de la aplicación.
    </p>
</div>
{% endblock %}